@charset "UTF-8";
#mybutton1 {
  color: white;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#777777));
  padding: 7px 22px;
  border-radius: 10px;
  border: 1px solid #aaaaaa;
  text-shadow: 0px -1px 0px black;
  font-family: "微软雅黑";
  color: white;
  text-shadow: 0 -1px 0 black; }
  #mybutton1:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#8b8b8b)); }
  #mybutton1:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#dddddd)); }

#mybutton2 {
  color: white;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bbffaa), to(#55cc33));
  padding: 7px 22px;
  border-radius: 20px;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px black;
  font-family: "Arial";
  color: black;
  text-shadow: 0 1px 0 white; }
  #mybutton2:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#dcffd3), to(#70d454)); }
  #mybutton2:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#55cc33), to(#bbffaa)); }

#mybutton3 {
  color: white;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#88ffff), to(#339999));
  padding: 7px 22px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px black;
  font-family: "楷体";
  color: white;
  text-shadow: 0 -1px 0 black; }
  #mybutton3:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#b1ffff), to(#3db8b8)); }
  #mybutton3:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#339999), to(#88ffff)); }

#mybutton4 {
  color: white;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffdba5), to(#ff5606));
  padding: 7px 22px;
  border-radius: 15px;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px black;
  font-family: "楷体";
  color: black;
  text-shadow: 0 1px 0 white; }
  #mybutton4:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffebce), to(#ff722f)); }
  #mybutton4:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5606), to(#ffdba5)); }

#mybutton5 {
  color: white;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#885522), to(#aa7744));
  padding: 7px 22px;
  border-radius: 15px;
  border: 1px solid #cccccc;
  text-shadow: 0px -1px 0px black;
  font-family: "楷体";
  color: white;
  text-shadow: 0 -1px 0 black; }
  #mybutton5:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#a9692a), to(#bd8b5a)); }
  #mybutton5:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#aa7744), to(#885522)); }
