$b_color_1:#aef;
$b_color_2:#47f;
$b_color_3:lighten($b_color_1,8%);
$b_color_4:lighten($b_color_2,8%);
$b_text_color:#fff;
$b_font_size:16px;
$b_radius:8px;
$b_font_family:"黑体";
$b_border_color:#ccc;


@mixin e_button($b_font_size, $b_font_family,$b_radius, $b_color_1, $b_color_2, $b_border_color:#ccc){
  color:$b_text_color;
  font-size:$b_font_size;
  background:-webkit-gradient(linear, left top, left bottom, from($b_color_1), to($b_color_2)); 
  padding:7px 22px;
  border-radius:$b_radius;
  border:1px solid $b_border_color;
  text-shadow:0px -1px 0px #000;
  font-family:$b_font_family;
  &:hover{
  background:-webkit-gradient(linear, left top, left bottom, from(lighten($b_color_1,8%)), to(lighten($b_color_2,8%))); 
  }
  &:active{
  background:-webkit-gradient(linear, left top, left bottom, from($b_color_2), to($b_color_1)); 
  }
}
$b_color_3:lighten($b_color_1,8%);
$b_color_4:lighten($b_color_2,8%);

@mixin b_inset($b_text_color, $b_shadow, $b_shadow_color){
  color:$b_text_color;
  text-shadow:0 $b_shadow 0 $b_shadow_color;
}





